body {
    background-color: #c9d6ff;
    background: linear-gradient(to right,#e2e2e2, #c9d6ff);

}

h1{
    text-align: center;
    margin-top: 50px;
    font-weight:bold;
    font-size:xx-large;
    color: #13d420;
    margin-bottom: 30px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}

hr{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 1px;
    background-color: black;

}

h2 {
    margin-top: 30px;
    font-size: 2cap;
    text-align: center;
    font-weight: bold;
}

input {
    border-radius: 15px;
    background-color: #E1DFDF;
    border: white;
    width: 250px;
    height: 30px;
    padding-left: 5px;
}

form {
    display: flex;
    margin: auto;
}

#desc3 {
    margin-right: 210px;
}

#desc2 {
    margin-right: 135px;
}

.desc {

    margin-right: 200px;
}

.form{
    text-align: center;
    margin-top: 30px;
}

.fpassword{
    margin-left: 192px;
    font-size: 10;
    margin-top: 10px;
    margin-bottom: 40px;
}

button{
    color: black;
    background-color: #13d420;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
}

.loginl{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: #000000;
    text-decoration: none;
}

.container {
    background-color: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc; 
    border-radius: 10px;
    justify-content: center;

}

button:hover {
    background-color: #10a019;
}